<div class="container">

    <img [src]="movie.imageSrc" [alt]="movie.title">

    <div class="info">
        <div>
            <p>
                {{movie.title}} <a *ngIf="isAdmin" [routerLink]="['/movie/edit', movie.id]">Edit</a>
            </p>

            <bar-rating [rate]="movie.rating" [max]="10" [readOnly]="false" theme="pokemon"
                (rateChange)="onRateChange($event)"></bar-rating>

        </div>
        <p>
            გამოშვების წელი: {{movie.year}}
        </p>
        <p>
            რეჟისორი: {{movie.director}}
        </p>
        <p>
            ჟანრი: {{categoryLabels}}
        </p>
        <p>
            მსახიობები: {{cast}}
        </p>
        <p>
            აღწერა: {{movie.description}}
        </p>


    </div>

</div>

<video controls>
    <source [src]="movie.videoSrc" type="video/mp4">

    Your browser does not support the video tag.

</video>