.container, video {

    display: flex;
    width: 75%;
    margin: auto;
}

img{
    width: 40%;
    padding: 20px;
}

.info {

    background-color: #e0d7d74f;
    color: #363939;
    padding: 0px 10px 0px 10px;
    margin: 20px;
    width: 100%;
    font-size: large;
}

