<div class="container">

    <img [src]="movie.imageSrc" [alt]="movie.title">

    <div class="info">
        <div>
            <p>
                {{movie.title}}
            </p>
            <p>
                რეიტინგი: {{movie.rating}}
            </p>
        </div>
        <p>
            გამოშვების წელი: {{movie.year}}
        </p>
        <p>
            რეჟისორი: {{movie.director}}
        </p>
        <p>
            მსახიობები: {{cast}}
        </p>
        <p>
            აღწერა: {{movie.description}}
        </p>


    </div>

</div>

<video controls>
    <source [src]="movie.videoSrc" type="video/mp4">

    Your browser does not support the video tag.

</video>