<form [formGroup]="form" (submit)="onSignIn()">

    <input formControlName="userName" type="text" placeholder="მომხმარებლის სახელი" autocomplete="username">

    <input formControlName="password" type="password" placeholder="პაროლი" autocomplete="current-password">

    <div class="rememberMe">
        <label for="rememberMe">დამახსოვრება</label>
        <input id="rememberMe" type="checkbox">
    </div>


    <div>
        <a href="#">დაგავიწყდა პაროლი?</a>
        <button type="submit" [disabled]="form.invalid">შესვლა</button>
    </div>

</form>